<script>
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";
    import { radialArea } from "d3-shape";

    export let data = [];
	export let cityname; 
    const max_inward_radius = 75;
    const max_heating_cooling = extent(data.map(d => Math.max(d.cooling, d.heating)))[1]; 
     //find the maximum of max values for heating & cooling (heating max = 3x cooling max)
     //separate scale for each city 
 
    // Scales 
    $: scaleOnCircle = scaleLinear().domain(extent(data.map((d) => d.day_of_year))).range([0, 2*Math.PI])
    $: scaleInCircle = scaleRadial().domain([0, max_heating_cooling]).range([0, max_inward_radius])

    // radial area (paths for healing and cooling) 
    $: coolingPath = radialArea().angle((d) => scaleOnCircle(d.day_of_year)).innerRadius(0).outerRadius((d) => scaleInCircle(d.cooling));
    $: heatingPath = radialArea().angle((d) => scaleOnCircle(d.day_of_year)).innerRadius(0).outerRadius((d) => scaleInCircle(d.heating));  
</script>

<g transform="translate(0, 25)">
    <text class="city">{cityname}<text/> 
</g>
<g transform="translate(0, 125)">
    <circle cx=0 cy=0 r={max_inward_radius}/>
    <path class="cooling" d={coolingPath(data)}/>
    <path class="heating" d={heatingPath(data)}/> 
		<line x1=0 y1={-max_inward_radius} y2={max_inward_radius}/>
		<line x1={-max_inward_radius} x2={max_inward_radius} y1=0/>
		<text class="clock" transform="translate(0,{-(max_inward_radius+5)})">0</text>
    <text class="clock" transform="translate({max_inward_radius+5},5)">3</text>
    <text class="clock" transform="translate(0,{max_inward_radius+10})">6</text>
    <text class="clock" transform="translate({-(max_inward_radius+5)},5)">9</text>

</g>

<style>
    text.city {
        text-anchor: middle;
	    font-size: 15px;
    }
    circle {
        stroke: black;
        fill: none;
		stroke-width: 1.5;
		stroke-opacity: 0.7;
    }
    path {
        stroke-opacity: 0.6;
        fill-opacity: 0.2; 
        stroke-width: 0.8;
    }
    path.cooling {
        stroke: blue;
        fill: blue;
    }
    path.heating {
        stroke: red;
        fill: red;
    }
	line {
		stroke: black;
		stroke-width: 0.5;
	}
	text.clock {
		text-anchor: middle;
		font-size: 10px;
	}
</style>