<script>
    import { scaleTime, scaleLinear } from "d3-scale";
    import { extent } from "d3-array";
    import { area } from "d3-shape";

    export let data = [];
	export let building; 
    export let scale = "within";
    export let x_width;

    // Select all the data for a given building type
    function select_buildingtype(dataset, building) {
        return dataset.filter(d => d.buildingtype == building)
    }
    $: data_buildingtype = select_buildingtype(data, building);

    // Scales
    $: xScale = scaleTime().domain(extent(data.map(d => new Date(2021, 12, d.day, d.hour)))).range([0, x_width]);
    $: yScaleWithin = scaleLinear().domain(extent(data_buildingtype.map(d => d.total_heating_energy))).range([1, 20]);
    $: yScaleAcross = scaleLinear().domain(extent(data.map(d => d.total_heating_energy))).range([1, 20]);

    // Paths within/across buildingtype
    $: withinPath = area().x(d => xScale(new Date(2021, 12, d.day, d.hour)))
                          .y0(d => -0.5*yScaleWithin(d.total_heating_energy))
                          .y1(d => +0.5*yScaleWithin(d.total_heating_energy))
    $: acrossPath = area().x(d => xScale(new Date(2021, 12, d.day, d.hour)))
                          .y0(d => -0.5*yScaleAcross(d.total_heating_energy))
                          .y1(d => +0.5*yScaleAcross(d.total_heating_energy))
</script>

<g transform="translate(715, 0)">
    <text class="building">{building}</text>
</g> 
<g>
    {#if scale == "within"}
        <path d={withinPath(data_buildingtype)}/>
    {:else}
        <path d={acrossPath(data_buildingtype)}/>
    {/if}
</g>

<style>
    text.building {
	    font-size: 12px;
        dominant-baseline: central;
    }
    path {
        stroke: black;
        fill: black;
    }
</style>