<script>
    import { scaleTime, scaleLinear } from "d3-scale";
    import { extent } from "d3-array";
    import { area } from "d3-shape";

    export let data = [];
    const leaf_width = 2.2*data.length; //such that last week is not as long as other leaves
    const leaf_height = 135;
    const max_electricity_gas = extent(data.map(d => Math.max(d.total_electrity, d.total_gas)))[1]; 
     //find the maximum of the (2) max values for electricity & gas

    // Scales
    $: xScale = scaleTime().domain(extent(data.map(d => new Date(2014, 12, d.day, d.hour)))).range([0, leaf_width]);
    $: yScale = scaleLinear().domain([0, max_electricity_gas]).range([0, leaf_height/2]);

    // Paths for electricity & gas
    $: electricityPath = area().x(d => xScale(new Date(2014, 12, d.day, d.hour))).y0(0).y1(d => -yScale(d.total_electrity))
    $: gasPath = area().x(d => xScale(new Date(2014, 12, d.day, d.hour))).y0(0).y1(d => +yScale(d.total_gas))
</script>

<g>
    <path class=electricity d={electricityPath(data)}/>
    <path class=gas d={gasPath(data)}/>
    <line x1=0 x2={leaf_width} y1=0/>
</g>

<style>
    path {
        stroke-opacity: 0.8;
        fill-opacity: 0.5; 
    }
    path.electricity {
        stroke: blue;
        fill: blue;
    }
    path.gas {
        stroke: orange;
        fill: orange;
    }
	line {
		stroke: black;
	}
</style>