<script>
    export let city = "Chicago";
    export let scale = "within";

    // Constants
    const citynames = ["Baltimore", "Chicago", "Los Angeles"];
    const scalenames = ["within", "across"];
    const scale_labels = ["within building types", "across all building types"]
</script>

<center>
<strong>Location:</strong>
    {#each citynames as cityname}
        <input type="radio" name="location" value={cityname} id={cityname} bind:group={city}/>
        <label for={cityname}>{cityname}</label> 
    {/each} 
<br/>
<strong>Scaling:</strong>
    {#each scalenames as scalename, idx}
        <input type="radio" name="scaling" value={scalename} id={scalename} bind:group={scale}/>
        <label for={scalename}>{scale_labels[idx]}</label>
    {/each}
</center>
    
<style>
    strong::after {
        content:'\00a0\00a0';
    } 
    label::after {
        content:'\00a0\00a0\00a0';
    } 
</style>