<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import City_circle from './_design_2_city_circle.svelte';

  // Size and margins
  const width = 600; 
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  }); 

  // Transforming the data gave errors for radialArea so other approach
	// Select the data per city 
	function select_city(dataset, selectedcity) {
		return dataset.filter(d => d.city == selectedcity)
	}
 
  // Constants
  const city_width = innerWidth/3;
	const citynames = ["Chicago", "Baltimore", "Los Angeles"]
</script>

{#if !data} 
  <p>Loading the data, please wait...</p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text class="title" x={innerWidth/2} y={margin.top+5}>Heating and cooling within a year</text>
		{#each citynames as cityname, city_idx}
		  <g transform="translate({city_width*city_idx+city_width/2}, {(innerHeight/2)-90})">
        <City_circle data={select_city(data, cityname)} {cityname}/>
      </g> 
    {/each}
		<rect class="heating" x={0.8*city_width} y={innerHeight-0.75*margin.bottom}/>
    <text class="legend" x={city_width} y={innerHeight-0.25*margin.bottom}>Heating</text>
    <rect class="cooling" x={1.8*city_width} y={innerHeight-0.75*margin.bottom}/>
    <text class="legend" x={2*city_width} y={innerHeight-0.25*margin.bottom}>Cooling</text>
  </g>
</svg>
{/if}

<style>
  text.title {
    font-weight: bold;
    font-size: 18px;
    text-anchor: middle; 
  }
	text.legend {
		font-size: 12px;
		text-anchor: middle;
    dominant-baseline: middle;
	}
	rect {
		width: 8px;
		height: 8px;
		stroke-opacity: 0.6;
    fill-opacity: 0.2; 
    stroke-width: 0.8;
	}
	rect.heating {
		stroke: red;
		fill: red;
	}
	rect.cooling {
		stroke: blue;
		fill: blue;
	}
</style>