<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";
  import Radio_buttons from './_design_1_controls.svelte';
  import Building_lineplot from './_design_1_lineplot.svelte';

  // Size and margins
  const width = 900;
  const height = 510;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Constants
  let city = "Chicago";
  let scale = "within";
  const x_width = 700;

  // Load the data
  let data = null;
  let buildingtypes = [];
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
    buildingtypes = [... new Set(data.map(d => d.buildingtype))];
  }); 

  // Select all the data for a given city
  function select_city(dataset, selectedcity) {
    if (dataset != null) {
		return dataset.filter(d => d.city == selectedcity)
    }
	}
  $: selected_data = select_city(data, city) 

  // Legend
  $: xScale = scaleLinear().domain([1,31]).range([0, x_width]);
  function xAxis(x) {
    axisBottom().scale(xScale)(select(x))
  };
</script>

<div>
{#if !data} 
  <p>Loading the data, please wait...</p>
{:else}
  <h1>Energy use over multiple days (in December)</h1>
  <Radio_buttons bind:city={city} bind:scale={scale}/>
  <center>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each buildingtypes as building, idx}
        <g transform="translate(20, {10+(30*idx)})">
          <Building_lineplot bind:data={selected_data} bind:building={building} bind:scale={scale} {x_width}/>
        </g>
      {/each}
    </g>
    <g transform="translate({margin.left+20}, {innerHeight})" use:xAxis/>
  </svg>
  </center>
{/if}
</div>
  
<style>
  h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
  }
</style>