<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Leaf_plot from './_design_3_leafplot.svelte';

  // Size and margins
  const width = 900;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  }
  );

  // Select all the data for a given week
  function select_week(selectedweek) {
    return data.filter(d => d.week == selectedweek);
  }

  const week_nrs = [48, 49, 50, 51, 52];
</script>

{#if !data} 
  <p>Loading the data, please wait...</p>
{:else}
<svg {width} {height}>
  <line x1={innerWidth/2} x2={innerWidth/2} y1=132 y2={innerHeight-60}/>
  <g transform="translate(0, {margin.top})">
    {#each week_nrs as week, idx}
      {#if idx%2 == 0}
        <g transform="translate({innerWidth/2}, {135+80*(4-idx)}) rotate(350)">
          <Leaf_plot data={select_week(week)}/>
        </g>
        <text class="week" x={innerWidth/2-3*margin.left} y={135+80*(4-idx)}>week {idx+1}</text>
      {:else}
        <g transform="translate({innerWidth/2}, {135+80*(4-idx)}) rotate(350) scale(-1,1)">
          <Leaf_plot data={select_week(week)}/>
        </g>
        <text class="week" x={innerWidth/2+3*margin.left} y={135+80*(4-idx)}>week {idx+1}</text>
      {/if}
    {/each}
    <rect class="electricity" x={8*margin.left} y=100/>
    <text class="legend" x={10*margin.left} y={100+0.6*margin.bottom}>Electricity</text>
    <rect class="gas" x={8*margin.left} y={100+3*margin.top}/>
    <text class="legend" x={10*margin.left} y={100+3*margin.top+0.6*margin.bottom}>Gas</text>
  </g>
  <text class="title" transform="translate({innerWidth/2}, {5*margin.top})">Gas and electricity use as a tree</text>
  <text class="city" transform="translate({(innerWidth/2)}, {innerHeight-3*margin.bottom})">Baltimore</text>
  <text class="date" transform="translate({(innerWidth/2)}, {innerHeight-0.5*margin.bottom})">(December 2014)</text>
</svg>
{/if}

<style>
  line {
    stroke: black;
    stroke-width: 4;
  }
  text {
    text-anchor: middle;
  }
  text.week {
    font-size: 12px; 
  }
  rect {
		width: 10px;
		height: 10px;
    stroke-opacity: 0.8;
    fill-opacity: 0.5;
	}
  text.legend {
    font-size: 12px;
    dominant-baseline: middle;
    text-anchor: start;
  }
  rect.electricity {
    stroke: blue;
    fill: blue;
  }
  rect.gas {
    stroke: orange;
    fill: orange;
  }
  text.title {
    font-weight: bold;
    font-size: 32px;
  }
  text.city {
    font-size: 24px;
    font-weight: bold;
  }
  text.date {
    font-size: 18px;
  }
</style> 