<script>
    const myObject = {name: 'Lennert'};
    const myList = ['listening to music', 'watching Netflix', 'playing TVL'];
</script>
<p>My name is {myObject.name} and these are some of my favourite things: {myList[0]}, 
{myList[1]} and {myList[2]}.</p>