<script>
    let radius = 4;
    function circle_circum(radius) {
        return (Math.round(2*Math.PI*radius*100)/100)
    }
</script>

<p>The circumference of a circle with radius {radius}m is {circle_circum(radius)}m.</p>
