<script>
	let count = 0;
	function handleClick(event) {
		count += 1;
	}
	function handleClick2(event){
		count = 0;
	}
</script>

<button class="btn btn-primary" on:click={handleClick}>
	counter: {count}
</button>
<button class="btn btn-danger" on:click={handleClick2}>
	reset counter
</button>
